.front {
    height: 900px;  
  /* Пример медиа-запроса. Подробнее здесь: https://getbootstrap.com/docs/4.1/layout/overview/#responsive-breakpoints */
    background: url('../img/front__bg.png') no-repeat;
    

  @include media-breakpoint-down(md) {
//    min-height: 0;
  }
  
  &__content {
    line-height: 101px;
    height: 101px;
    
    
    h1{
        margin-top: 292px;
        color: #000;    
    }



  }
  
  &__dscr {
    color: #000;
    text-align:center;
    width: 60%;
    margin: 0 auto;
    top: calc(50% - 60px/2 - 1308px);
  }
}
